<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header :: header">...</div>
<div id="main">
    <div class="error" th:text="${param.error}"></div>
    <div th:each="category : ${productsByCategory}">
        <h3 th:text="${category.key.name}"></h3>
        <table>
            <thead>
            <tr>
                <th>produkt</th>
                <th>cena (ostatnio uzyskana)</th>
                <th>zamówiono</th>
                <th>brakuje do pełnego zamówienia</th>
                <th>twoje zamówienie</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item:${category.value}" th:class="${item.status}">
                <td th:text="${item.product.name}"></td>
                <td th:text="${#numbers.formatDecimal(item.product.price, 1, 2)} +' zł za ' + ${item.product.unit}"></td>
                <td th:text="${item.totalQuantity}+ ' ' + ${item.product.unit}"></td>
                <td th:text="${item.missingToTransactionalQuantity + ' ' + item.product.unit + ' (z ' + item.product.transactionalQuantity + ' ' + item.product.unit + ')' }"></td>
                <td>
                    <form th:action="@{/order}" method="post">
                        <input type="hidden" name="product_id" th:value="${item.product.id}">
                        <input type="number" name="quantity" required th:step="${item.product.allowDecimalQuantity} ? '.01' : '1'"><span
                            th:text="${item.product.unit}"></span>&nbsp;&nbsp;<input type="submit"
                                                                                     value="zamów">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr>
    </div>
</div>
</body>
</html>
