<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header :: header">...</div>
<div id="main">
    <div class="error" th:text="${param.error}"></div>
    <div th:each="category : ${productsByCategory}">
        <h3 th:text="${category.key.category.name}"></h3>
        <div class="rtable header">
            <div class="rtable-cell product-name">produkt</div>
            <div class="rtable-cell">cena (ostatnio uzyskana)</div>
            <div class="rtable-cell">zamówiono</div>
            <div class="rtable-cell">brakuje do pełnego zamówienia</div>
            <div class="rtable-cell">twoje zamówienie</div>
        </div>
        <div th:each="item:${category.value}" th:class="${item.status} + ' rtable'">
            <div class="rtable-cell product-name" th:text="${item.product.name}"></div>
            <div class="rtable-cell"
                 th:text="${#numbers.formatDecimal(item.product.price, 1, 2)} +' zł za ' + ${item.product.unit}"></div>
            <div class="rtable-cell" th:text="${item.totalQuantity}+ ' ' + ${item.product.unit}"></div>
            <div class="rtable-cell"
                 th:text="${item.missingToTransactionalQuantity + ' ' + item.product.unit + ' (z ' + item.product.transactionalQuantity + ' ' + item.product.unit + ')' }"></div>
            <div class="rtable-cell">
                <form th:action="@{/order}" method="post">
                    <input type="hidden" name="product_id" th:value="${item.product.id}">
                    <input type="number" name="quantity" required
                           th:step="${item.product.allowDecimalQuantity} ? '.01' : '1'"><span
                        th:text="${item.product.unit}"></span>&nbsp;&nbsp;<input type="submit"
                                                                                 th:disabled="${category.key.blocked}"
                                                                                 value="zamów">
                </form>
            </div>
        </div>
        <hr>
    </div>
</div>
</body>
</html>
