<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Suma zamówień w obecnej turze</title>
    <div th:replace="head :: head"></div>
</head>
<body>

<div th:replace="admin/header :: header" th:remove="tag">...</div>
<div id="main">
    <h2>Suma aktualnej tury zakupów (<span th:text="${round.name}"></span>)</h2>
    <div th:each="category : ${orders}">
        <div th:if="${item.totalQuantity > 0}" th:each="item:${category.value}">
            <span th:text="${item.product.name} + ' - ' + ${item.totalQuantity} + ' ' + ${item.product.unit}"/>
            <form th:action="@{/admin/define_price}"  method="post">
                <input type="hidden" name="round_id" th:value="${round.id}">
                <input type="hidden" name="product_id" th:value="${item.product.id}">
                    Cena: <input name="price" th:value="*{item.delivery} ?  *{item.delivery.price}: ''"/>
                Ilość: <input name="amount" th:value="*{item.delivery} ? *{item.delivery.amount} : ''"/>
                <input type="submit" value="Zapisz"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>