<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Historia zakupów</title>
    <div th:replace="head :: head"></div>
</head>
<body>

<div th:replace="admin/header :: header" th:remove="tag">...</div>
<div id="main">
    <div th:each="round:${history}">
        <h3 th:inline="text">[[${round.finalDate}]] - [[${round.name}]]</h3>
        <a th:href="@{/admin/round?id=} + ${round.id}">Per użytkownik</a>
        <a th:href="@{/admin/total?round_id=} + ${round.id}">Łącznie</a>
        <a th:href="@{/admin/deliveries?round_id=} + ${round.id}">Dostawy</a>
    </div>
</div>
</body>
</html>