<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="admin/header :: header">...</div>
<div id="main">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Imię i nazwisko</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Admin</th>
            <th>Prawko</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user:${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.admin}"></td>
            <td th:text="${user.hasDrivingLicense()}"></td>
        </tr>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
