nav ul {
    background-color: #B10000;
    list-style-type: none;
    height: 40px;
    width: 800px;
    padding: 0;
    margin: auto;
    text-align: center;
}

nav ul li {
    float: left;
}

nav ul a {
    padding-right: 16px;
    padding-left: 16px;
    display: block;
    line-height: 40px;
    text-decoration: none;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

nav ul a:hover {
    background-color: #6D0101;
}

h1, h2 {
    text-align: center;
}

td {
    border: 1px solid black;
    padding: 5px;
}

#main {
    width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.empty {
    background: #ddd;
}

.complete {
    background-color: #00dd00;
}

.incomplete {
    background-color: #ffff00;
}

.complete-incomplete {
    background-color: pink;
}

.remove-from-cart-form {
    display: inline;
}

input[type=number] {
    width: 40px;
}

.error {
    color: red;
}