<!DOCTYPE HTML>
<html>
<head>
    <title>Cart</title>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>

<div th:insert="header :: header">...</div>

<div id="main">
    <h2>Zamówione produkty</h2>
    <p th:each="item:${cart.items}" th:text="${item.product.name} + ' - ' + ${item.quantity} +' ' + ${item.product.unit} + ' - ' + ${item.amount} + ' zł (' + ${item.product.price}+' za ' + ${item.product.unit} + ')'"></p>

    <p><b>Razem: <span th:text="${cart.total}">3.75</span> zł + 10% na fundusz gromadzki</b></p>
    <I>Uwaga! Wyliczenie jest orientacyjne (bazuje na cenach uzyskanych przy poprzednich zakupach)</i>
</div>

</body>
</html>
