<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<header th:fragment="header">
    <p id="currentRound" th:text="'Najbliższe zakupy: ' + ${currentRound.finalDate}"></p>
    <h1>Witaj w Kooperatywie</h1>
    <nav>
        <ul id="topnav">
            <li><a th:href="@{/info}">O spółdzielni</a></li>
            <li><a th:href="@{/products/list}">Zamów produkty</a></li>
            <li><a th:href="@{/cart}">Zobacz koszyk</a></li>
            <li><a th:href="@{/history}">Moje rachunki</a></li>
            <li><a th:href="@{/total}">Suma zamówień</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/}">Admin</a></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Wyloguj</a></li>
            <li class="icon">
                <a href="javascript:void(0);" onclick="toggleMenu()">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>


</body>
</html>