<th:block th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style.css}" rel="stylesheet"/>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script>
        function toggleMenu() {
            var x = document.getElementById("topnav");
            if (x.className === "") {
                x.className = "responsive-menu";
            } else {
                x.className = "";
            }
        }
    </script>
</th:block>