<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header :: header">...</div>
<div id="main">
    <div th:each="item:${history}">
        <h3 th:inline="text">[[${item.round.name}]]</h3>
        <p th:inline="text">Razem: [[${#numbers.formatDecimal(item.cart.total, 1, 2)}]] zł
                                 + [[${#numbers.formatDecimal(item.cart.communityFund, 1, 2)}]] na fundusz gromadzki
                                 = [[${#numbers.formatDecimal(item.cart.total + item.cart.communityFund, 1, 2)}]] zł</p>
    </div>
</div>
</body>
</html>