<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header :: header">...</div>
<div id="main">
    <div th:if="${param.error}">
        Błędne dane logowania.
    </div>
    <div th:if="${param.logout}">
        Zostałeś wylogowany.
    </div>
    <form th:action="@{/login}" method="post">
        <div><label> Login: <input type="email" name="username" placeholder="Twój email" required/> </label></div>
        <div><label> Hasło: <input type="password" name="password" required/> </label></div>
        <div><input type="submit" value="Zaloguj"/></div>
    </form>
</div>
</body>
</html>