<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="admin/header :: header">...</div>
<div id="main">
    <form th:action="@{/admin/new_round}" method="post">
        <div><label> Data zakończenia tury <input type="date" name="final_date"/> </label></div>
        <div><label> Nazwa tury <input type="text" name="round_name"/> </label></div>
        <div><input type="submit" value="Utwórz nową turę"/></div>
    </form>
</div>
</body>
</html>