<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Szczegóły tury</title>
    <div th:replace="head :: head"></div>
</head>
<body>

<div th:replace="header :: header" th:remove="tag">...</div>
<div id="main">
    <h3 th:inline="text">[[${round.finalDate}]] - [[${round.name}]]</h3>

    <ul>
        <li th:each="order:${orders}" th:text=" 'product:' + ${order.productId} + ' user:' + ${order.userId} + ' quantity:' + ${order.quantity}">
        </li>
    </ul>

</div>
</body>
</html>