<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header :: header">...</div>
<div id="main">
    <h2>Suma aktualnej tury zakupów (<span th:text="${round.name}"></span>)</h2>
    <div th:each="category : ${orders}">
        <p th:if="${item.totalQuantity > 0}" th:each="item:${category.value}"
           th:text="${item.product.name} + ' - ' + ${item.totalQuantity} + ' ' + ${item.product.unit}"></p>
    </div>
</div>
</body>
</html>